@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
  /* align-items: center; */
  display: flex;
}
.btn-div {
  display: flex;
}
